/* For Profile Background Image */
body {
    background: top right no-repeat;
    background-attachment:fixed;
    padding-top: 70px
}

h1, h2, h3, h4 {
	text-align: center;
	font-family: 'Droid Serif', serif;
}

/* Profile module */
div.module {
    border: 1px solid #000000;
    display: block;
    margin: 5px;
    padding: 5px;
    background-color: #ADCEFF;
    width: 95%;
    float: left;
}

div.module .title {
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    padding: 5px;
}

.center {
    text-align: center;
}

img {
    max-height: 200px;
    max-width: 200px;
}

button {
   margin: 10px !important; /* need to override bootstrap on this */
}

button.no-margin {
    margin: 0 !important;    
}

a.form-helper {
    position: absolute;
    right: 12px;
    top: 4px;
    font-size: 17px;
    color: #6464a0;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* General Tables */

table, table#width50 {
    text-align: center;
    width: 50%;
    margin: auto;
}

div.form table {
    text-align: left;
}

table#width80 {
    width: 80%;
    margin: auto;
}

table td {
    padding: 5px;
}

table th {
    text-align: center;
}

td.bolden {
    font-weight: bold;
}
/* General Module? */
div.module table {
    width: 50%;
    float: left;
    margin-left: 15px;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}

a.edit_content {
    float: right;
    color: blue;
}

a.edit_module {
    float: left;
    color: blue;
}

/* Post Module */
div.module table.posts {
    table-layout: fixed;
    width: 100%;    
    float: none;
    margin-left: 0;
}

table.posts tr {
    text-align: center;
}

tr.postContent {
    font-size: 1.2em;
}

tr.postDate {
    font-style: italic;
    font-size: 1em;
}

/* Friends Module */
div.module table.friend, div.module table.profile_picture {
    width: auto;
    border: 1px solid black;
}

div.module table.friend td, div.module table.profile_picture td {
    text-align: center;
}

div.module table.friend td img, div.module table.profile_picture td img {
    border: 1px solid black;
}

a#unfriend {
    color: red;
}

/* About Me */
div.module table.about_me {
    width: 90%;
}


/* Icons */
img.icon {
    max-height: 100px;
}

div.icon_container {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.caption {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
}

/* Delete Links */
a.delete {
    color: red;
    font-size: 1em;
    text-align: center;
    display: inline-block;
    width: 100%;
}

/* Global */
div.container {
    text-align: center;
}

/* Pagination links */
div.page {
    width: 50%;
    margin: auto;
}

/* For Home Page */
div.rounded {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

div#feed {
    background-color: #BADDFF;
}

div#browse {
    background-color: #94FFB8;
}

div#suggestions {
    background-color: #FFCCFF;
}

div#post {
    background-color: #99FF99;
}

div#popular {
    background-color: #FFCC99;
}

/* Image Thumbnails */
img.thumb {
    max-height: 100px;
    border: 1px solid black;
}
