
h1, h2, h3, h4 {
	text-align: center;
	font-family: 'Droid Serif', serif;
}

/* Profile module */
div.module {
    border: 1px solid #000000;
    display: block;
    margin: 5px;
    padding: 5px;
    background-color: #ADCEFF;
    width: 95%;
    float: left;
}

div.module .title {
    font-weight: bold;
    text-align: left;
    font-size: 22px;
    padding: 5px;
}

.center {
    text-align: center;
}

img {
    max-height: 200px;
    max-width: 200px;
}

/* General Tables */

table {
    width: 50%;
    margin: auto;
}

table td {
    padding: 5px;
}

td.bolden {
    font-weight: bold;
}
/* General Module? */
div.module table {
    width: 50%;
    float: left;
    margin-left: 15px;
    font-family: 'Ubuntu', sans-serif;
}

a.edit_content {
    float: right;
    color: blue;
}

a.edit_module {
    float: left;
    color: blue;
}

/* Post Module */
div.module table.posts {
    width: 100%;    
    float: none;
    margin-left: 0;
}

table.posts tr {
    text-align: center;
}

tr.postContent {
    font-size: 1.2em;
}

tr.postDate {
    font-style: italic;
    font-size: 1em;
}

/* Friends Module */
div.module table.friend, div.module table.profile_picture {
    width: auto;
    border: 1px solid black;
}

div.module table.friend td, div.module table.profile_picture td {
    text-align: center;
}

div.module table.friend td img, div.module table.profile_picture td img {
    border: 1px solid black;
}

a#unfriend {
    color: red;
}

/* About Me */
div.module table.about_me {
    width: 90%;
}


/* Icons */
img.icon {
    max-height: 100px;
}

div.icon_container {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.caption {
    display: block;
    font-weight: bold;
    font-size: 1.1em;
}
